<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Spotify Data App</title>
  </head>
  <body>
    <!-- NAVBAR CODE BELOW -->
    <nav class="navbar navbar-expand-lg navbar-blue bg-light">
      <a class="navbar-brand" href="/">Spotify Data App</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/top-tracks-by-artist">Your Top Tracks by Artist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/audio-analysis">Audio Analysis</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/predict-personality">Your Personality Analysis</a>
          </li>
          <li class="nav-item">
            <a class = "nav-link" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Printing data to screen (testing) -->
    <header>
      <h4>Top 10 artists:</h4>
      {% for item in artists %}
      <small> {{ item }} <br> </small>
      {% endfor %}
    </header>
    <br>
    <header>
      <h4>Top 10 songs:</h4>
      {% for item in tracks %}
      <small> {{ item }} by {{tracks[item]}}<br> </small>
      {% endfor %}
    </header>
    <br>
    <header>
      <h4>Recently played tracks (duplicates not shown):</h4>
      {% for item in recent %}
      <small> {{ item }} by {{recent[item][0]}}<br> </small>
      {% endfor %}
    </header>
    <br>
    <header>
      {% if related != 0 %}
      <h4>You've been listening to {{frequent}} a lot recently! Here are some similar artists you might like:</h4>
      {% for item in related %}
      <small> {{ item }}<br> </small>
      {% endfor %}
      {% endif %}
    </header>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>